table {
  height: 305 * 2px;
  width: 215 * 5px;
  border: 2px black solid;
  margin: 12% auto;
}

td {
  height: 305px;
  width: 215px;
  border: 2px black solid;
  cursor: pointer;
}


.hidden {
  display: none;
}
